footer#footer
   .container-fluid
      .row
         .col-md-6
            p &copy;2017&nbsp;MoviesShare&nbsp;by&nbsp;LZK&nbsp;&nbsp;.版权所有
         .col-md-6
            ul.pull-right
               li
                  a(href='#') 首页
               li
                  a(href='#') 关于我们
               li
                  a(href='#') 常问问题
               li
                  a(href='#') 合作伙伴
