//公用静态资源
link(href='/libs/bootstrap/dist/css/bootstrap.css',rel='stylesheet')
//写在bootstrap下面，才能覆盖bootstrap样式
link(href='/libs/hover/css/hoverex-all.css',rel='stylesheet')
link(href='/libs/hover/css/templates.css',rel='stylesheet')
link(href='/css/main.css',rel='stylesheet')

script(src='/libs/jquery/dist/jquery.min.js')


script(src="/libs/jquery-validation/dist/jquery.validate.min.js")
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')

script(src='/libs/hover/js/jquery-1.7.2.min.js')
script var $1_7_2 = $.noConflict(true);
script(src='/libs/hover/js/jquery.hoverex.js')

script(src="/js/user-validate.js")


